.preview {
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=70&opacity=5);
    width: calc(100% - 400px);
    padding: 8px 20px;
  }
  
  .date {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 8px;
    color: #878888;
  }
  
  .content {
    background-color: transparent;
    width: 100%;
    height: calc(100% - 34px);
    border: 0;
    resize: none;
    font-size: 13px;
    font-weight: 300;
  
    &:focus {
      outline: none;
    }
  }